USE sakila;

CREATE INDEX idx_customer_id
ON payment (customer_id);

SELECT
    CONCAT(first_name, ' ', last_name) AS Name,
    SUM(payment.amount) AS 'Total Payments'
FROM customer
LEFT JOIN payment
ON customer.customer_id = payment.customer_id
GROUP BY CONCAT(first_name, ' ', last_name);

SELECT
    AVG(amount)
FROM payment
WHERE customer_id = 5;

--SQL PRACTICE DRILLS
USE sakila;
CREATE INDEX idx_returns
ON rental (rental_date, return_date);